:root {
    --lightpink:#FFB6C1;;
    --hotpink: #ff9392;
    --white: #fefffe;
    --lightgrey: #edf0f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

img {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;   
    min-height: 100vh;
}

.header {
    border-bottom: solid black 1px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    align-items: center;
    padding: 0 2rem;
}

.header > div {
    padding: 1rem 0;
}

.header img {
    border-radius: 50%;
}

.top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.top .left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.top .right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
}

#search {
    width: 75%;
    height: 2rem;
    border-radius: 1rem;
    border: solid 1px black;
    padding: 0 1rem;
    background-color: var(--lightgrey);
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.bottom img {
    height: 60px;
    width: auto;
}

.bottom .left {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
}

.bottom .right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    gap: 2em;
}

.bottom button {
    font: inherit;
    background-color: var(--hotpink);
    border-radius: 50px;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    border: none;
}

.main {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--lightgrey);
}

.main h3,
.main h5 {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.card-container {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.card-container > span {
    grid-row: 1/2;
}

.all-cards {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
}

.all-cards h4 {
    
}

.card {
    display: grid;
    grid-template-rows: 20px minmax(3fr, 200px) 1fr;
    background-color: var(--lightpink);
    border-radius: 2rem;
    padding: 1rem;
}

.announcements-container {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.announcements-container h5 {
    grid-row: 1/2;
}

.announcements-container > div {
    grid-row: 2/3;
}

.announcement {
    background-color: var(--lightpink);
    border-radius: 2rem;
    padding: 1rem;
}

.trending-container {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.trending-container h5 {
    grid-row: 1/2;
}

.trending-container > div {
    grid-row: 2/3;
}

.trending {
    background-color: var(--lightpink);
    border-radius: 2rem;
    padding: 1rem;
}

.dashboard {
    border-right: solid black 1px;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: var(--hotpink);
    padding: 1rem 1.5rem;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 0.75rem;
}

.dashboard svg {
    fill: white;
}

.dashboard h1 {
    color: var(--white);
}

.dashboard li a {
    color: var(--white)
}

.dashboard li a:hover {
    text-decoration: underline;
}

.dashboard ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard > ul:first-of-type {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.dashboard ul > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

